* {
  padding: 0;
  margin: 0;
}

/************************** Category page **************************/

.custom-img {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
}

/************************** NavBar Part **************************/

.logo {
  height: 70px;
}

.btn-purple {
  background-color: #6f52f9;
  color: rgb(179, 177, 177); 
  height : 40px;
}

.btn-sm {
  font-size: 20px; 
}


/************************** HomePage *************************/

.imagePInterro{
  height: 305px;
  width: 50%;
  object-fit: cover;
}

.imagePencil{

  height: 305px;
  width: 80%;
  object-fit: cover;

}

.banner {
  background-color: #f4eeff;
  height: 700px;
  background-size: cover;
}

.bannerCreation {
  background-color: #faf5ff;
  height: 400px;
  background-size: cover;
}



.btn-color {
  background-color: #e6f5ff;
}

.btn-style {
  background-color: #e6f5ff;
  width: 600px;
}

.color-purple {
  background-color: #f4eeff;
}

.color-blue {
  background-color: #e6f5ff;
}

/************************** About Us **************************/

.titleAU{
  font-size: 45px;
  text-align: center;
  padding-bottom: 3%;
  
}

.textAU{
  font-size: 25px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;
  
}
