* {
  padding: 0;
  margin: 0;
}

/************************** Category page **************************/

.custom-img {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
}

/************************** User Space page **************************/
.cardMyQuiz:hover{
  border: 1px solid #bb86fc;
  background-color: #CAACD7;
  color: #fff; 
}

.styleLinkHover:hover {
  border-color: #bb86fc9d;
  background-color: #f4eeff6f; 
}

.color-purple{
  background-color:  #F4EEFF;
}

.styleLink {
  border-bottom: 2px solid #673ab7; 
}

/************************** NavBar Part **************************/

.logo {
  height: 70px;
}

.btn-purple {
  background-color: #6f52f9;
  color: rgb(179, 177, 177); 
  height : 40px;
}

.btn-sm {
  font-size: 20px; 
}


/************************** HomePage *************************/


.banner {
  background-color:  #F4EEFF;
  height: 600px;
  background-size: cover;
}

.bannerCreation {
  background-color: #faf5ff;
  height: 400px;
  background-size: cover;
}



.btn-color {
  background-color: #e6f5ff;
}

.btn-style {
  background-color: #d598e691;
  width: 600px;
}

.color-purple {
  background-color: #f4eeff;
}

.color-blue {
  background-color: #e6f5ff;
}

/***************************Authentification*******************************/


/***Login & register**/
/*
#containerAuthentification{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  padding-top: 12cm;
}
*/
/*
.form-group{
  margin-top: 45px;
}

.title{
  margin-top: 45px;
}
*/

/*

input[type="button"] {
  background-color: #d598e691;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px; 
}

input[type="text"], input[type="password"] {
  width: 100%;    
  padding: 5px;   
  border-radius: 5px; 
  border: 1px solid #ccc; 
}
*/


/**************Login*************/

/*
#squareLogin{
  width: 450px; 
  height: 600px; 
  text-align: center; 
  padding: 30px;
  background-color: lightgreen;
}
*/
.btn-authentification{
  background-color: #d598e691;
}

/**************Register***********/
/*
#squareRegister{
  width: 450px; 
  height: 500px; 
  text-align: center; 
  padding: 30px;
  background-color: aqua;
}
*/
/**************************************************************************/
