* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/************************** CategoryPage **************************/

.custom-img {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
}

/************************** UserSpacePage **************************/
.cardMyQuiz:hover{
  border: 1px solid #bb86fc;
  background-color: #CAACD7;
  color: #fff; 
}

.styleLinkHover:hover {
  border-color: #bb86fc9d;
  background-color: #f4eeff6f; 
}

.color-purple{
  background-color:  #F4EEFF;
}

.styleLink {
  border-bottom: 2px solid #673ab7; 
}

/*************************** NavBar *********************************/

.logo {
  height: 70px;
}

.btn-purple {
  background-color: #6f52f9;
  border-radius: 5px; 
}


/************************** HomePage ****************************/


.btn-style {
  background-color: #d598e691;
  width: 100%; 
}

.banner{
  background-color:  #F4EEFF;
  max-height: 600px;
  background-size: cover;
}

.bannerCreation {
  background-color: #faf5ff;
  height: 400px;
  background-size: cover;
}

.btn-color {
  background-color: #e6f5ff;
}


.color-purple {
  background-color: #f4eeff;
}

.color-blue {
  background-color: #e6f5ff;
}

.text-area{
  padding-top: 190px;
}

.img-fluid{
  position: relative;
}
/**************************** LoginPage *****************************/

.btn-authentification{
  background-color: #d598e691;
}


/*************************** QuizPage  ******************************/
.answer-label {
  margin : 10px;
  border-radius : 5px;
  background-color : white;
  width : 75%;
  border-color : black;
  border-style: solid;
  border-width: 1px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.card-header, .card-footer {
  background-color : #d598e691;
}

/************************** QuizLisPage ****************************/

.cardQuizzes{
  border-width: 2px;
  border-radius: 1rem;
  transition: 0.3s ease;
  }
  
  .cardQuizzes:hover{
  border-color: #ad1fd091;
  transform: translateY(-5px);
  
  }
  
  .headerLabel{
    padding: 30px;
    background-color: #F4EEFF ;
  }
  .alertQuizListPage{
    font-size: larger;

  }

/************************* About us *****************************/

.center-text-area {
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-us-img {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

  

/************************* Footer *****************************/

footer {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}